
@{
    ViewBag.Title = "Start";
    Layout = "_Host.cshtml";
}

<h2>Start</h2>

<form action="/host/updatescores" method="POST">
@{
    int i = 1;
    foreach (var team in Model.Teams)
    {
        <label>Team @i: @team.Name</label><input type="text" />
        i++;
    }
}    

    <input type="submit" value="Update scores"/>

</form>

<form action="/host/next" method="POST">
    <input type="submit" value="Next question" />

</form>